

  <h1 class="p-5">{{title}}</h1>
  <div class="blog-container row row-cols-1 row-cols-md-4 g-4 px-5">
  
    <div class="blog-post card mx-2 p-4">
      <img src="https://images.unsplash.com/photo-1564349683136-77e08dba1ef7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8YW5pbWFsc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
      <div class="blog-h4 h4">post 1</div>
      <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt distinctio natus modi illum aliquid ipsum repellat a enim at tempore. Expedita provident placeat porro quaerat odio eveniet impedit aliquam consequatur!</div>
    </div>

    <div class="blog-post card mx-2 p-4">
      <img src="https://images.unsplash.com/photo-1456926631375-92c8ce872def?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8YW5pbWFsc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
      <div class="blog-h4 h4 ">post 2</div>
      <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt distinctio natus modi illum aliquid ipsum
        repellat a enim at tempore. Expedita provident placeat porro quaerat odio eveniet impedit aliquam consequatur!</div>
    </div>

    <div class="blog-post card mx-2 p-4">
      <img src="https://images.unsplash.com/photo-1474511320723-9a56873867b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGFuaW1hbHN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
      <div class="blog-h4 h4">post 3</div>
      <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt distinctio natus modi illum aliquid ipsum
        repellat a enim at tempore. Expedita provident placeat porro quaerat odio eveniet impedit aliquam consequatur!</div>
    </div>

    <div class="blog-post card mx-2 p-4">
      <img src="https://images.unsplash.com/photo-1504006833117-8886a355efbf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGFuaW1hbHN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
      <div class="blog-h4 h4">post 4</div>
      <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt distinctio natus modi illum aliquid ipsum
        repellat a enim at tempore. Expedita provident placeat porro quaerat odio eveniet impedit aliquam consequatur!</div>
    </div>
  
  </div>
  <div class="footer">
    <div>test app demo by <a href="https://www.instagram.com/kev_the_programmer/" target="_blank">kev the programmer</a></div>
  </div>
